
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/allure-results/
/tests/t6_makemytrip.spec.js-snapshots/
/tests/resultT/
/allure-report/
/allure-results/
